<!DOCTYPE html>
<html>
  <head>
    <title>Thefirstrails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <a href="users/sign_in">Sign in</a>
    <a href="users/sign_up">Sign up</a>
    <a href="books">Book List</a>
    <p>_________________________________________________________________________________________________________________</p>
    <%= yield %>
  </body>
</html>
